<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Vertical Playground</title>

    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.variables.bootstrap.css %>"
      integrity="<%= htmlWebpackPlugin.options.variables.bootstrap.cssintegrity %>"
      crossorigin="anonymous"
    />
    <link href="<%= htmlWebpackPlugin.options.variables.material.font %>" rel="stylesheet" />

    <link href="<%= htmlWebpackPlugin.options.variables.material.bootstrap %>" rel="stylesheet" />
  </head>

  <body>
    <div id="collaborators"></div>
    <div id="blocklyDiv"></div>

    <!-- Sidebar -->
    <h1>Vertical Blocks</h1>
    <p>
      <a href="#" id="showWorkspace">Show</a>
      - <a href="#" id="hideWorkspace">Hide</a>
    </p>

    <form id="options">
      <select name="dir" onchange="document.forms.options.submit()">
        <option value="ltr">LTR</option>
        <option value="rtl">RTL</option>
      </select>
      <select name="toolbox" onchange="document.forms.options.submit()">
        <option value="categories">Categories</option>
        <option value="simple">Simple</option>
      </select>
      <select name="side" onchange="document.forms.options.submit()">
        <option value="start">Start</option>
        <option value="end">End</option>
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
      </select>
      <select name="locale" onchange="Catblocks.setLocale(this.value)"> </select>
      <!-- gets filled by JS -->
    </form>

    <p>
      <input type="button" id="exportToXML" value="Export to XML" />
      &nbsp;
      <input type="button" id="importFromXML" value="Import from XML" />
      &nbsp;
      <input type="button" id="importFromParser" value="Import using Parser" />
      <br />
      <textarea
        id="importExport"
        style="width: 26%; height: 12em;"
        onchange="Catblocks.taChange();"
        onkeyup="Catblocks.taChange()"
      ></textarea>
    </p>

    <hr />

    <p>
      Log events: &nbsp;
      <input type="checkbox" id="logCheck" />
    </p>

    <p>
      Stress test: &nbsp;
      <input type="button" value="Sprinkles!" id="sprinkles" />
      <input type="button" value="Spaghetti!" id="spaghetti" />
    </p>

    <p>
      Glows: &nbsp;
      <input type="button" value="Glow last clicked block" id="glowBlock" />
      <input type="button" value="Activate Zebra" id="zebra" />
      <input type="button" value="Unglow last clicked block" id="unglowBlock" />
      <input type="button" value="Stack glow last clicked block" id="glowStack" />
      <input type="button" value="Stack unglow last clicked block" id="unglowStack" />
    </p>

    <p>
      Log flyout events: &nbsp;
      <input type="checkbox" id="logFlyoutCheck" />
    </p>

    <p>
      Enable sounds (after refresh): &nbsp;
      <input type="checkbox" id="soundsEnabled" />
    </p>

    <p>
      <input type="button" value="Undo" id="undo" />
      <input type="button" value="Redo" id="redo" />
    </p>

    <p>
      Report:
      <input id="reportValue" type="text" value="123" />
      <input type="button" value="Report last clicked block" id="reportDemo" />
    </p>

    <script
      src="<%= htmlWebpackPlugin.options.variables.jquery.js %>"
      integrity="<%= htmlWebpackPlugin.options.variables.jquery.jsintegrity %>"
      crossorigin="anonymous"
    ></script>
    <script
      src="<%= htmlWebpackPlugin.options.variables.material.popper %>"
      integrity="<%= htmlWebpackPlugin.options.variables.material.popperintegrity %>"
      crossorigin="anonymous"
    ></script>
    <script
      src="<%= htmlWebpackPlugin.options.variables.bootstrap.js %>"
      integrity="<%= htmlWebpackPlugin.options.variables.bootstrap.jsintegrity %>"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
