{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true, /* allow console */
    "es6": true, /* allow Promise */
    "node": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": ["warn"],
    "semi": ["warn"],
    "prefer-const": ["warn"],
    "no-var": ["warn"],
    "indent": ["error", 2],
    "no-mixed-spaces-and-tabs": ["error"]
  },
  "globals": {
    "process": false
  }
}