{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true, /* allow console */
    "es6": true /* allow Promise */
  },
  "rules": {
    "no-unused-vars": ["warn"],
    "semi": ["warn"],
    "prefer-const": ["warn"],
    "no-var": ["warn"],
    "indent": ["warn", "tab"],
    "no-mixed-spaces-and-tabs": ["warn"]
  },
  "globals": {
    "process": false
  }
}