{
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-unused-vars": [
      "warn"
    ],
    "semi": [
      "warn"
    ],
    "prefer-const": [
      "warn"
    ],
    "no-var": [
      "warn"
    ],
    "indent": [
      "error",
      2
    ],
    "no-mixed-spaces-and-tabs": [
      "error"
    ]
  },
  "globals": {
    "process": false
  },
  "plugins": ["jest"]
}