<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Testing Page</title>
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.variables.bootstrap.css %>"
      integrity="<%= htmlWebpackPlugin.options.variables.bootstrap.cssintegrity %>"
      crossorigin="anonymous"
    />
    <link href="<%= htmlWebpackPlugin.options.variables.material.font %>" rel="stylesheet" />

    <link href="<%= htmlWebpackPlugin.options.variables.material.bootstrap %>" rel="stylesheet" />
  </head>

  <body>
    <main id="root">
      <div id="share">
        <div id="shareprogs"></div>
      </div>
      <div id="playground">
        <div id="playworkspace"></div>
      </div>
    </main>

    <script
      src="<%= htmlWebpackPlugin.options.variables.jquery.js %>"
      integrity="<%= htmlWebpackPlugin.options.variables.jquery.jsintegrity %>"
      crossorigin="anonymous"
    ></script>
    <script
      src="<%= htmlWebpackPlugin.options.variables.material.popper %>"
      integrity="<%= htmlWebpackPlugin.options.variables.material.popperintegrity %>"
      crossorigin="anonymous"
    ></script>
    <script
      src="<%= htmlWebpackPlugin.options.variables.bootstrap.js %>"
      integrity="<%= htmlWebpackPlugin.options.variables.bootstrap.jsintegrity %>"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
