.blocklyText {
  fill: #fff;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

.blocklyNonEditableText > rect:not(.blocklyDropdownRect),
.blocklyEditableText > rect:not(.blocklyDropdownRect) {
  fill: #fff;
}

.blocklyNonEditableText > text,
.blocklyEditableText > text,
.blocklyNonEditableText > g > text,
.blocklyEditableText > g > text {
  fill: #575e75;
}

.blocklyDropdownText {
  fill: #fff !important;
}

.catblocks-blockly-disabled > .blocklyNonEditableText > rect:not(.blocklyDropdownRect),
.catblocks-blockly-disabled > .blocklyEditableText > rect:not(.blocklyDropdownRect),
.catblocks-blockly-disabled > .blocklyNonEditableText > text,
.catblocks-blockly-disabled > .blocklyEditableText > text,
.catblocks-blockly-disabled > .blocklyNonEditableText > g > text,
.catblocks-blockly-disabled > .blocklyEditableText > g > text,
.catblocks-blockly-disabled > .blocklyDropdownText {
  fill-opacity: 0.5;
  stroke-opacity: 0.5;
}

.search {
  border: none;
}

#formulaPopupContent {
  word-wrap: break-word;
}

.catblocks-blockly-invisible > .blocklyPath {
  fill-opacity: 0;
  stroke-opacity: 0;
}

.catblocks-blockly-disabled > .blocklyPath {
  fill-opacity: 0.35;
  stroke-opacity: 0.35;
}

.catblocks-svg {
  outline: 0 !important;
}
