html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}

#collaborators {
  float: right;
  width: 30px;
  margin-left: 10px;
}

#collaborators > img {
  margin-right: 5px;
  height: 30px;
  padding-bottom: 5px;
  width: 30px;
  border-radius: 3px;
}

#importExport {
  font-family: monospace;
}

/* Render */

#catblocks-file-dropper {
  display: none;
  align-items: center;
  justify-content: center;

  width: auto;
  margin: 20px;
  padding: 100px 20px;
  background: lightgreen;
  height: 50%;
  outline: 4px dashed darkgreen;
  outline-offset: -15px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}

#catblocks-file-dropper.hover {
  outline-color: green;
  background: #90ee90ba;
}

#catblocks-file-dropper .dropper-inner {
  width: 100%;
  max-width: 680px;
  text-align: center;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

#catblocks-file-dropper .small {
  font-size: 0.8em;
  margin-top: 10px;
}

#catblocks-file-dropper .icon {
  width: 100%;
  height: 80px;
  fill: darkgreen;
  display: block;
  margin-bottom: 40px;
}

#catblocks-file-dropper .dropper-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#catblocks-file-dropper label {
  font-size: 1.5em;
}

#catblocks-file-dropper label strong {
  cursor: pointer;
}

#catblocks-file-dropper label:hover strong {
  color: darkgreen;
}

#loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

#loading-overlay .loading-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* message box */
.message-box {
  position: fixed;
  display: none;

  left: 0;
  right: 0;
  bottom: 0;
  min-width: 300px;
  width: 50%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;

  background-color: #f5faff;
  border-color: #0a6ed1;
  color: #32363a;
  box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
}

.message-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-box li {
  padding: 5px;
}

.card {
  border-radius: 0;
  box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 4px 0 rgba(0, 0, 0, 0.12);
}

.card-header {
  background: none;
  font-size: 0.9rem;
  border-bottom: 0;
}

.card-header.collapsed {
  border-bottom: 2px solid #eee;
}

.card-body {
  padding: 0;
}

.card-body .card-header {
  font-size: 0.8rem;
  padding-left: 3.5em;
}

.card-body .card-body {
  padding: 0;
}

.card-header[aria-expanded='true'],
.collapse.show .card-header,
.collapse.show .card-body {
  background: rgba(0, 0, 0, 0.04);
  transition: 0.5s background ease;
}

.catro-tabs .nav-tabs {
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  background: rgba(0, 0, 0, 0.04);
}

.catro-tabs .nav-link {
  text-decoration: none;
  padding: 0.9em;
  border: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
}

.catro-tabs .nav-link.active {
  font-weight: 700;
  border-bottom: 2px solid #00acc1;
  color: black;
  background: none;
}

img {
  border-radius: 10%;
}

.list-group-item {
  font-size: 0.8em;
  border-bottom: 0;
  background: none;
  display: flex;
  align-items: center;
}

.tab-pane {
  background: none;
}

.material-icons {
  vertical-align: middle;
}

.blocklyText {
  fill: #fff;
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
}

.blocklyNonEditableText > rect:not(.blocklyDropdownRect),
.blocklyEditableText > rect:not(.blocklyDropdownRect) {
  fill: #fff;
}

.blocklyNonEditableText > text,
.blocklyEditableText > text,
.blocklyNonEditableText > g > text,
.blocklyEditableText > g > text {
  fill: #575e75;
}

.blocklyDropdownText {
  fill: #fff !important;
}

.card-header {
  cursor: pointer;
}

.catblocks-script {
  padding: 0 20px;
}

.catblocks-script + .catblocks-script {
  margin-top: 20px;
}

.catblocks-empty-text {
  padding: 20px;
}

.catblocks-object-sound-item {
  width: 100%;
}

[data-toggle='collapse'][aria-expanded='true'] .rotate-left {
  transform: rotate(-90deg);
}

.rotate-left {
  transition: 0.3s transform ease;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

[data-toggle='collapse'][aria-expanded='true'] .header-title {
  font-weight: bold;
}

.search {
  border: none;
}

#catblocks-program-container {
  overflow-x: hidden;
  overflow-y: auto;
}

#formulaPopupContent {
  word-wrap: break-word;
}


/*# sourceMappingURL=main.ee5939a69db74e5b9433.css.map*/