html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  height: 100vh;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}

#collaborators {
  float: right;
  width: 30px;
  margin-left: 10px;
}

#collaborators > img {
  margin-right: 5px;
  height: 30px;
  padding-bottom: 5px;
  width: 30px;
  border-radius: 3px;
}

#importExport {
  font-family: monospace;
}

/* Render */

#catblocks-file-dropper {
  display: none;
  align-items: center;
  justify-content: center;

  width: auto;
  margin: 20px;
  padding: 100px 20px;
  background: lightgreen;
  height: 50%;
  outline: 4px dashed darkgreen;
  outline-offset: -15px;
  -webkit-transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}

#catblocks-file-dropper.hover {
  outline-color: green;
  background: #90ee90ba;
}

#catblocks-file-dropper .dropper-inner {
  width: 100%;
  max-width: 680px;
  text-align: center;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

#catblocks-file-dropper .small {
  font-size: 0.8em;
  margin-top: 10px;
}

#catblocks-file-dropper .icon {
  width: 100%;
  height: 80px;
  fill: darkgreen;
  display: block;
  margin-bottom: 40px;
}

#catblocks-file-dropper .dropper-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#catblocks-file-dropper label {
  font-size: 1.5em;
}

#catblocks-file-dropper label strong {
  cursor: pointer;
}

#catblocks-file-dropper label:hover strong {
  color: darkgreen;
}

#loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

#loading-overlay .loading-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-icon {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* message box */
.message-box {
  position: fixed;
  display: none;

  left: 0;
  right: 0;
  bottom: 0;
  min-width: 300px;
  width: 50%;
  max-width: 800px;
  margin: auto;
  margin-bottom: 40px;
  padding: 20px;

  background-color: #f5faff;
  border-color: #0a6ed1;
  color: #32363a;
  box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.42), 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.3);
  font-size: 0.9em;
}

.message-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.message-box li {
  padding: 5px;
}
