html, body {
    height: 100%;
  }

  body {
    background-color: #fff;
    font-family: sans-serif;
  }

  h1 {
    font-weight: normal;
    font-size: 140%;
  }

  #blocklyDiv {
    float: right;
    height: 95%;
    width: 70%;
  }

  #collaborators {
    float: right;
    width: 30px;
    margin-left: 10px;
  }

  #collaborators > img {
    margin-right: 5px;
    height: 30px;
    padding-bottom: 5px;
    width: 30px;
    border-radius: 3px;
  }

  #importExport {
    font-family: monospace;
  }